@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #35495e;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
a:hover {
  color: #ff7e67;
  font-size: larger;
}
h2 {
  color: #347474;
}
li {
  margin-top: 7px;
  margin-bottom: 7px;
}
header {
  color: #ff7e67;
  font-size: x-large;
  text-align: right;
  padding-right: 200px;
}

button {
  padding: 7px 18px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: large;
  background-color: #ff7e67;
  border-radius: 5px;
  margin-bottom: 30px;
}
